<!-- Start Footer -->
<footer class="footer-widgets">
	<div class="container">
    	<div class="row">
         	<div class="span4 widget">
                <h6>aaagalli@gmail.com</h6>
            </div>
             <div class="span8 widget">
                <h6>
                    <a href="https://www.linkedin.com/aaagalli" target="_blank" >linkedin</a> &nbsp; • &nbsp; 
                    <a href="https://github.com/alegalli" target="_blank">github</a> 
                </h6>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
