<header class="fixed-header">
    <div class="span2">
        <div id="logo">
            <a href="index.html" title="NAME">Ale Galli</a>
        </div>
    </div>
    <div class="span10">
        <nav id="menu">
            <ul id="menu-nav">
                <!-- Show only if you're not in the index.html page
                <li><a href="index.html" class="menu-nav-elem">Projects</a></li> -->
                <!-- <li><a href="blog.html" class="menu-nav-elem">Blog</a></li>
                <li><a href="cv.html" class="menu-nav-elem">CV</a></li>
                <li><a href="about.html" class="menu-nav-elem">About</a></li>
                <li><a href="#" id="theme-toggle" class="menu-nav-elem">🌙</a></li> -->
            </ul>
        </nav>
    </div>
</header>
